[submodule "cmdline"]
	path = cmdline
	url = /usr/local/src/cmdline
[submodule "dedpy"]
	path = dedpy
	url = /home/dan/src/dedpy
[submodule "insect"]
	path = insect
	url = /home/dan/src/tools/insect
[submodule "process"]
	path = process
	url = /home/dan/src/tools/process
[submodule "blas-lapack"]
	path = blas-lapack
	url = /home/dan/src/blas-lapack
[submodule "dedc"]
	path = dedc
	url = /home/dan/src/dedc
[submodule "iogeno"]
	path = iogeno
	url = /home/dan/src/iogeno
[submodule "lines"]
	path = lines
	url = /home/dan/src/tools/lines
