# You may need to change some entries in the initial part of this
# file. Comment out lines using a '#' character at the start of the
# line, and uncomment them by removing any such initial comment
# characters. Read on.


# ---------------------------------------------------
# Choose 64- or 32-bit version of CBLAS library (These are bundled
# with shellfish). The default is set to 64 bit. If you are on a 32
# bit machine change 'lib64' to just 'lib'.
SHELLFISH_LDIR = lib64

# ---------------------------------------------------
# Location of BLAS library
# If you're lucky, the following will do the trick and you won't have
# to change anything.
LBLAS = -lblas
# However, on a machine running Ubuntu 9.04 server edition I had
# specify the location of the libraryu file explicitly, by using the
# following line instead.
#  LBLAS = /usr/lib/libblas.so.3gf
# If you're having problems, search for files whose name starts with
# 'libblas' in system library directories like /usr/lib, /usr/lib/64,
# /usr/local/lib etc.

# ---------------------------------------------------
# Location of LAPACK library
LLAPACK = -llapack
# On a machine running Ubuntu 9.04 server edition I had to change that to
# LLAPACK = /usr/lib/liblapack.so.3gf
# See above for tips. You're looking for a file whose name starts with
# 'liblapack'

# IMPORTANT ---------

# Note that if you have to specify non-standard locations for
# libraries when compiling, then you will have to tell the program
# where these libraries are at run time. That is done using the
# LD_LIBRARY_PATH environment variable. For example, prior to running
# shellfish, you might run
# export LD_LIBRARY_PATH=/usr/local/lib64



